.font-link {
  font-family: 'Indie Flower', cursive;
}

.App {
  position: relative;
  text-align: center;
  background-color: #2f64d6;
  height: 100vh;
}

.App-logo {
  max-width: 50vh;
}

.main-section {
  max-width: 60vw;
  margin-top: 40px;
  max-height: 50vh;
}

.Character-image {
  max-height: 40vh;
  right: -100px;
  bottom: 0;
}

#quote-box {
  max-width: 45vw;
}

#text {
  font-size: 2rem;
  color: #ffdf00;
}

#author {
  font-size: 1.5rem;
  color: #ffdf00;
  margin-bottom: 50px;
}

#new-quote {
  left: 0;
  width: 15vw;
  background-color: black;
  border: 2px solid black;
  color: #ffdf00;
  font-size: 1.2rem;
}

#new-quote:hover {
  background-color: #ffdf00;
  border: 2px solid #ffdf00;
  color: black;
}

#tweet-quote {
  text-decoration: none;
  right: 0;
  background-color: black;
}

.button-tweet {
  color: #ffdf00;
  width: 15vw;
  font-size: 1.2rem;
  border: 2px solid black;
}

#tweet-quote:hover {
  background-color: #ffdf00;
  border: 2px solid #ffdf00;
  color: black;
}

@media (max-width: 650px) {
  .App-logo {
    max-width: 40vh;
  }

  .main-section {
    max-width: 60vw;
    max-height: 50vh;
    margin-top: 0;
  }

  .Character-image {
    max-height: 25vh;
    right: -55px;

  }

  #text {
    font-size: 1rem;
  }

  #author {
    font-size: 0.6rem;
    margin-bottom: 10px;
  }

  #new-quote {
    width: 20vw;
    font-size: 0.5rem;
    border: 1px solid #ffdf00;
  }

  .button-tweet {
    color: #ffdf00;
    width: 20vw;
    border: 1px solid #ffdf00;
    font-size: 0.5rem;
  }
}